:root {
    --main: #ff9933;
    --secondary: #7f4c19;
    --dark: #2e333d;
    --light: #f5f5f5;
    --white: #ffffff;
}

html {
    scroll-behavior: smooth;
    background-color: var(--light);
}

.landing-page {
    .home {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../images/home-background.png") !important;
        background-size: contain !important;
        background-position: center !important;
        background-repeat: no-repeat !important;

        .subtitle {
            width: 40% !important;
            text-align: justify !important;
        }
    }

    .is-main {
        color: var(--main) !important;
    }

    .has-text-main {
        color: var(--main) !important;
    }

    .has-background-main {
        background-color: var(--main) !important;
    }

    .has-background-secondary {
        background-color: var(--secondary) !important;
    }

    .has-border-dark {
        border: 3px solid var(--dark) !important;
    }

    .card {
        height: 100% !important;
    }

    .footer-link {
        color: #ffffff !important;
    }
}

.dashboard {
    .sidebar {
        height: 100vh;

        .sidebar-item {
            &:hover {
                background-color: var(--main);
            }
        }
    }

    .is-fullwidth {
        width: 100%;
    }

    .line-bottom {
        border-bottom: 1px solid var(--dark);
    }
}
